*{
    box-sizing: border-box;
    font-family: "sedan sc";
    margin: 0%;
    padding: 0;

  
}

.contactinfo span{

    color: white;
    font-size: 3vw;


}

.contactinfo i{

   color : white;
   font-size: 3vw;



}

