*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 25% 75%;
}

.Left{
    height: 100vw;
    background-color: crimson;
    display: flex;
    flex-flow: column wrap;
}

.Right{
    padding: 50px;
   
}

.Header{
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 150px;
    

    
}

.aboutme{
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 33% 33% 33%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1%;
    margin-bottom: 10%;

}

.Header h2{
    display: flex;
    font-display: block;
    font-size: 25px;
}

